@charset "UTF-8";

.board {
	margin-top: 50px;
	margin-left: 250px;
}

table {
	width: 100%;
	border: 1px solid #000000;
}

th, td {
	border: 1px solid #000000;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

/* SideBar */
#sidebar {
	background-color: rgb(255, 255, 255);
	/* position: fixed; */
	width: 200px;
	height: 100%;
	/* 	margin-left: -20px;
	margin-top: 50px; */
	margin-right: 20px;
	float: left;
	border-right: 1px solid rgb(192, 192, 192);
}

/* Header */
.header {
	float: top;
}

/* Footer */
.footer {
	margin-top: 60%;
}